<html>
<body>
    <h2>Maintenance:</h2>
        Filter used for: {{filter_used}}, <b> has left: </b> {{filter_left}}<br>
        Main brush used for: {{mainb_used}}, <b> has left: </b> {{mainb_left}}<br>
        Side brush used for: {{sideb_used}}, <b> has left: </b> {{sideb_left}}<br><br>

    <h2>Fanspeed:</h2>
        Current fanspeed: {{fanspeed}}
        <form action="/set-fanspeed" method="POST">
            Set fanspeed: <input type="number" name="fanspeed"> % <br> 
            <input type="submit" value="Set">
        </form><br>

    <h2>Carpet mode:</h2>
        Carpet mode is {{carpet}}
        <form action="/switch-carpet" method="POST">
            <input type="submit" value="Switch">
        </form><br>

    <h2>Find robot:</h2>
        <form action="/find-robot" method="POST">
            <input type="submit" value="Find robot">
        </form><br>
    
    <a href="/manual">Manual control</a> <br>
    <a href="/">Back</a>
</body>
</html>