<html>
    <body>
        <noscript><h1> Javascript must be enabled for this page to work.. </h1></noscript>

        <h3>Use WASD to move the robot..</h3>
        <p>Please make sure the robot is fully under control, before continuing..</p>
        <button onclick="post(4)">Start</button> <button onclick="post(5)">Stop</button><br><br>
        <a href="/extra">Back</a>

        <script>
            var urls = ["move-foward","move-backwards","move-left","move-right","manual-start","manual-stop"]
            document.addEventListener("keyup", function() {key()})
        
            function key() {
                if (event.code == "KeyW") {
                    post(0)
                }
                if (event.code == "KeyS") {
                    post(1)
                }
                if (event.code == "KeyA") {
                    post(2)
                }
                if (event.code == "KeyD") {
                    post(3)
                }
            }

            function post(url) {
                console.log(urls[url]);
                var xhr = new XMLHttpRequest();
                xhr.open("POST", urls[url], true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({}));
                // document.getElementById("sendingText").innerHTML = "Sending...";
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        console.log(xhr.status);
                        if (xhr.status == 500) {
                            alert("Request failed!")
                        }
                        console.log("Request complete!")
                    }};
            }
        </script>

    </body>
</html>